@page "/"

@*@using Data
@using G1S1.BlazorServer.Pages.Books.Views;

@inject ISnackbar snackBar
@inject NavigationManager navigationManager

@if (Users == null)
{
    <h1>Loading...</h1>
}
else
{
    @foreach (var user in Users)
    {
        <MudText Typo="Typo.h6">Hello, @user.Name</MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="@(() => OnClick(user.Name))">Despedida</MudButton>
    }
}

<MudButton Variant="Variant.Filled" Color="Color.Secondary" Link="/Books">Go to Books</MudButton>

@code {
    private List<User> Users { get; set; }


    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(5000);
        Users = GetUsers();
    }

    private List<User> GetUsers()
    {
        return new List<User>() {
            new User { Id = 1, Name = "Jorge" },
            new User { Id = 2, Name = "Andrea" }
        };
    }

    private void OnClick(string name)
    {
        navigationManager.NavigateTo("/Books/1/Prueba");
        snackBar.Add($"Hasta pronto {name}");
    }
}*@